{
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "globals": {
        "SELECT": true,
        "INSERT": true,
        "UPDATE": true,
        "DELETE": true,
        "CREATE": true,
        "DROP": true,
        "cds": true
    },
    "rules": {
        "no-console": "off",
        "require-atomic-updates": "off",
        "prettier/prettier": "error",
        "no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": false,
                "argsIgnorePattern": "^_"
            }
        ]
    },
    "plugins": ["prettier"]
}
