{
    "extends": ["eslint:recommended", "plugin:prettier/recommended", "airbnb-base"],
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "globals": {
        "SELECT": true,
        "INSERT": true,
        "UPDATE": true,
        "DELETE": true,
        "CREATE": true,
        "DROP": true,
        "cds": true
    },
    "rules": {
        "allowForLoopAfterthoughts": "off",
        "indent": ["error", 4],
        "quotes": "off",
        "no-console": "warn",
        "require-atomic-updates": "off",
        "prettier/prettier": "error",
        "comma-dangle": ["error", { "arrays": "always-multiline", "objects": "always-multiline" }],
        "no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": false,
                "argsIgnorePattern": "^_"
            }
        ]
    },
    "plugins": ["prettier"]
}
